@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
    --primary-color: #2C4156;
    --text-color: #39586D;
    --text-color-light: #ffffff;
    --bg-color: #d2d7db;
    --bg-color-light: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
.contenedor1 {
    display: flex;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}
.sidebar {
    min-width: 250px;
    border-radius: 30px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-light);
}
.user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
}
.user-avatar p {
    color: var(--text-color-light);
    font-size: 20px;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.user-info h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2px;
}
.user-info p {
    font-size: 14px;
    color: #aaa;
}
.hr {
    width: 100%;
    height: 1.5px;
    background-color: var(--text-color);
    margin: 20px 0;
    opacity: 0.2;
}
.sidebar .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s;
}
.sidebar .menu li a ion-icon {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}
.sidebar .menu li.active a,
.sidebar .menu li:hover a {
    color: var(--primary-color);
}
.sidebar .menu li.active a ion-icon,
.sidebar .menu li:hover a ion-icon {
    color: var(--text-color-light);
    background-color: var(--primary-color);
}
.sidebar .menu.one {
    flex: 1;
}

@media (max-width: 768px) {
.sidebar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 20px;
}
.sidebar .user {
    display: none;
}
.sidebar .hr {
    display: none;
}
.sidebar .menu.one:last-child {
    display: none;
}
.sidebar .menu.two {
    display: none;
}
.sidebar .menu {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.sidebar .menu li a span {
    display: none;
}
.sidebar .menu li a ion-icon {
    font-size: 20px;
}
}

aside{
    border: 2px solid var(--primary-color);
}

/* MAIN */

:root{
    --background: #2C2C2C
}

main {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-content: start;
}

.contenedor2{
    margin: auto;
}

.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center; 
    margin-top: 40px; 
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 380px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.profile .profile-image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: .5s;
    background-color: var(--background);
}

.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile:hover img{
    opacity: 0.4;
    transition: .5s;
}

.profile:hover .profile-image {
    transform: translateY(-104px);
    transition: all .9s;
}

.profile:hover .profile-bio{
    opacity: 0.9;
}

.social-icons {
    position: absolute;
    display: flex;
    gap: 12px;
    z-index: 3;
    bottom: 164px;
}

.social-icons li{
    list-style: none;
}

.social-icons li a{
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .2s;
    transform: translateY(32px);
    opacity: 0;
}

.social-icons li a:hover{
    background: var(--background);
    transition: .2s;
}

.social-icons li a svg{
    color: var(--background);
    transition: .2s;
}

.social-icons li a:hover svg{
    color: white;
    transition: 0.8s;
    transform: rotateY(360deg);
}

.profile:hover .social-icons li a{
    opacity: 1;
}

.profile:hover li:nth-child(1) a{
    transition-delay: 0.1s;
}

.profile:hover li:nth-child(2) a{
    transition-delay: 0.2s;
}

.profile:hover li:nth-child(3) a{
    transition-delay: 0.3s;
}

.profile:hover li:nth-child(4) a{
    transition-delay: 0.4s;
}

.profile-name{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 106px;
    padding: 12px 14px;
    z-index: 1;
    color: #333;
    background-color: #fff;
    text-align: left;
}

.profile:hover .profile-name{
    background-color: #fff;
}

.profile-name h2{
    margin-bottom: 8px;
}




